<html>
<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>

  <head>
  </head>

  <body>
    <div class="container">
      <table class="table">
	<thead>
	  <tr>
	    <th>建物名</th>
	    <th>住所</th>
	    <th>地震</th>
	    <th>津波</th>
            <th>洪水</th>
	    <th>高潮</th>
            <th>土砂</th>
	    <th>火事</th>
            <th>内水</th>
	  </tr>
	</thead>
	<% @evac.each do |e| %>
	
	  <tr>
	    <td><p><%= e.name %></p></td>
	    <td><p><%= e.address %></p></td>
	    <td><p><%= e.earthquake %></p></td>
	    <td><p><%= e.tsunami %></p></td>
	    <td><p><%= e.flood %></p></td>
	    <td><p><%= e.surge %></p></td>
	    <td><p><%= e.landslide %></p></td>
	    <td><p><%= e.fire %></p></td>
	    <td><p><%= e.inlandwaters %></p></td>
	  </tr>
	<% end %>	
      </table>
    </div>
  </body>
</html>
