<html>
<h1>徳島避難所一覧</h1>
  <head>
  </head>

  <body>
    <form method="post" action="search">
     <p>
     Search!：<input type="text" name="id[name]" /><br />
     <input type="submit" value="送信" />
     </p>
    </form>
    <div class="container">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>建物名</th>
	    <th>住所</th>
	    <th>地震</th>
	    <th>津波</th>
            <th>洪水</th>
	    <th>高潮</th>
            <th>土砂</th>
	    <th>火事</th>
            <th>内水</th>
	  </tr>
	</thead>
	<% @evac.each do |e| %>
	
	  <tr> 
	    <td><p><a <%= "href=http://www.google.co.jp/search?hl=ja&source=hp&q=#{e.name}" %> ><%= e.name %></a></p></td>
	    <td><p><a <%= "href=https://www.google.co.jp/maps/search/#{e.name}" %> ><%= e.address %></a></p></td>
	    <td><p><%= e.earthquake %></p></td>
	    <td><p><%= e.tsunami %></p></td>
	    <td><p><%= e.flood %></p></td>
	    <td><p><%= e.surge %></p></td>
	    <td><p><%= e.landslide %></p></td>
	    <td><p><%= e.fire %></p></td>
	    <td><p><%= e.inlandwaters %></p></td>
	  </tr>
	<% end %>	
      </table>
    </div>
  </body>
</html>
